/* Aboutbody.css */

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #333; 
    margin: 0;
    padding: 0;
}

.about-section {
    padding: 40px;
    background-color: #222;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.title-about {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.about-shop {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: justify; 
}

.rules {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}


.rules-text {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: justify;
}

ul {
    list-style-type: decimal;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8;
    padding-left: 40px;
    margin-bottom: 30px;
}

strong {
    font-weight: bolder;
    color: white;
    text-indent: 20px; 
    display: block;
    margin-bottom: 10px;
}
