.everyday {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  padding: 1rem;
  background-color: #1C1C1C;
}

.card {
  width: 16rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; 
  background-color: #2a2a2a; 
}

.card img {
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
}

.card-body {
  padding: 1rem;
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack items vertically */
  align-items: center; 
  justify-content: center; /* Center items vertically */
}

.card-title {
  font-size: 1.2rem;
  font-weight: 700; 
  color: #fff;
}

.card-text {
  color: #f7efef; 
  font-style: bold;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.btn-primary {
  background-color: #C92B5B; 
  color: #fff;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 600; 
  margin-top: 1rem; 
  padding: 0.5rem 1rem; 
  border-radius: 5px; 
}

.btn-primary:hover {
  background-color: #A0204C; 
  color: #fff; 
}
