.everyday {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    background-color: #1C1C1C;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  .btn-primary {
    background-color: #C92B5B;
    color: #fff; 
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  

  .btn-primary:hover {
    background-color: #A0204C; 
    color: #fff; 
  }
  
  