.container {
    margin-top: 20px;
  }
  
  h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    text-align: center;
  }
  
  h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #C92B5B;
    margin: 10px auto 0;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 10px;
    scrollbar-color: #222;
  }
  
  .col-md-4 {
    flex: 0 0 auto;
    width: 260px;
    position: relative;
  }
  
  .card.menu-card {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card.menu-card:hover {
    transform: scale(1.1);
  }
  
  .card.menu-card img {
    width: 100%;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .card-title {
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .card-body::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #C92B5B;
    margin: 10px auto 0;
  }
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 10px;
  }
  
  
  .row {
    scrollbar-color: #212121 #222; 
    scrollbar-width: thin; 
  }
  
  .row::-webkit-scrollbar {
    width: 12px;
  }
  
  .row::-webkit-scrollbar-track {
    background: #212121; 
  }
  
  .row::-webkit-scrollbar-thumb {
    background: #212121; 
    border-radius: 10px; 
  }
  
  .row::-webkit-scrollbar-thumb:hover {
    background: #212121; 
  }
  
