.about-title {
    color: #fff;
    font-family: National2CondensedBold;
    font-family: var(--theam-font);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
    text-align: center;
    padding-top: 20px;
}
.about-kfc {
    background: #212121;
    border-radius: 5px;
    padding: 35px;
    width: 100%;
    color: #fff;
    height: 200px;
}
.kfc-quality
{
  color: #C92B5B;
  width: 100%;
  height: 200px;
  padding-bottom: 10%;
  margin: auto;
  padding: auto;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)* .5);
    padding-right: calc(var(--bs-gutter-x)* .5);
    width: 100%;
    color: wheat;
    padding-bottom: 20px;
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}