.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; 
  background-color: #212121; 
  padding: 20px; 
  justify-content: center; 
}

.card {
  background-color: #434343; 
  border-radius: 15px; 
  padding-top: 10px; 
  margin: 1rem; 
  color: #cec3c3; 
}

.card-img-top {
  height: 200px; 
  object-fit: cover; 
  border-radius: 15px 15px 0 0; 
}

.custom-button {
  display: block;
  width: 100%; /* Make the button take the full width of the card body */
  padding: 15px;
  font-size: 1.25rem; /* Make the button text bigger */
  border-radius: 10px; /* Round the button's border */
  margin-top: 10px; /* Add some space above the button */
  background-color: #007bff; /* Default button color (Bootstrap primary) */
  color: white;
  text-align: center;
  border: none; /* Ensure no border is shown */
}

.custom-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
  color: white;
}

