.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #212529;
  }
  
  .logo {
    margin-left: 10px;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 30px; 
    color: #C92B5B;
  }
  
  .nav-link {
    color: #C92B5B;

  }
  .nav-link:hover {
    color: #A0224A; 
  }
  .nav .nav-link {
    color: #C92B5B;
}

.nav .nav-link:hover {
    color: #A0224A;
}

.nav .nav-link.active {
    color: #f8f9fa;
}
